<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>学习论坛</title>
    <script src="js/jquery.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="css/community.css"/>
    <script src="js/bootstrap.min.js"></script>
</head>
<body>
    <!--导航条-->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">学习论坛</span>
                </button>
                <a class="navbar-brand" href="/">学习论坛</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="搜索帖子">
                    </div>
                    <button type="submit" class="btn btn-default">搜索</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li th:unless="${session.user!=null}"><a href="https://github.com/login/oauth/authorize?client_id=3b1f4b41f1fc5e96e377&redirect_uri=http://localhost:8888/callback&scope=user&state=1">登录</a></li>
                    <li th:if="${session.user!=null}"><a href="/post">发帖</a></li>
                    <li class="dropdown" th:if="${session.user!=null}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" th:text="${session.user.getName()}"> <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">消息中心</a></li>
                            <li><a href="#">个人资料</a></li>
                            <li><a href="#">退出登录</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--    导航条结束-->
    <!--    中心页面-->
    <div class="container-fluid main">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
                <h3 style="display: inline; margin-left: 10px;">帖子</h3>
                <hr/>
                <form action="/post" method="post">
                    <div class="form-group">
                        <label for="title">标题</label>
                        <input type="text" class="form-control" name="title" id="title" placeholder="标题">
                    </div>
                    <div class="form-group">
                        <label for="title">帖子内容</label>
                        <textarea class="form-control" name="content" id="content" cols="30" rows="10" placeholder="请遵守论坛发言规则！"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="tag">选择标签</label>
                        <input type="text" class="form-control" id="tag" name="tag">
                    </div>
                    <button type="submit" class="btn btn-success right-button" th:if="${error==null}">发布</button>
                    <button type="button" class="btn btn-danger right-button" th:unless="${error==null}" th:text="${error}"></button>
                </form>

            </div>
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 ">
                <h3>发帖规则</h3>
                <div class="left-body">
                <p>&nbsp;&nbsp;&nbsp;&nbsp;严禁网友在版块内散播或制造任何与事实不符的言论。您的任何不良言论都将可能给第三方造成恶劣影响,相信您也不想受到同等待遇,请理解配合。</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;严禁将帖子发至无关版面,请选择对应版块发贴,以维护论坛的系统性和整洁性。</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;帖子标题请尽量与帖子内容相符，恶意欺骗性质或者标题过于刺激者，删除。</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;严禁因观点不同或讨论立场有异在版块上发表针对他人的嘲笑、讽刺、漫骂等人身攻击言论，盼会员间能雅量和谐、理性讨论。</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;严禁发布法 轮 功等境外反华内容，一经发现，直接封ID，并将IP地址发至公安部门备案。</p>
                </div>
            </div>
        </div>
        </div>
    <!--    中心页面结束-->
</body>
</html>